body {
  padding-top: 10%;
  background: #ececea;
}

h1 {
  text-align: center;
  /*padding: 50px 20px;*/
  font: 400 100px/1.0 "Playball", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  text-align: center;
}

.container {
  /*background: #ececea;*/
  /*border: 1px solid #000000;
  border-radius: 10px;*/
  background-image: url("http://res.cloudinary.com/jack9950/image/upload/v1488942606/cubes.png");
}

.quoteButtonContainer:before,
.quoteButtonContainer:after {
  content: "";
  display: table;
}
.quoteButtonContainer:after {
  clear: both;
}
.quoteButtonContainer {
  clear: both;
  *zoom: 1;
}

.quoteButton {
  /*margin: 20px 0 20px 60%;*/
  float: right;
  margin-bottom: 2%;
}

.tweetButtonContainer {

}

/*.tweetButtonContainer:before,
.tweetButtonContainer:after {
  content: "";
  display: table;
}
.tweetButtonContainer:after {
  clear: both;
}
.tweetButtonContainer {
  clear: both;
  *zoom: 1;
}*/

.tweetButton {
  /*margin: 20px 0 20px 60%;*/
  float: right;
}


footer {
  padding-top: 2%;
  padding-bottom: 5px;
  font-size: 12px;
}
